*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(42, 126, 235, 0.945);
}

.model_box{
    background-color: aliceblue;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    margin-top: 20vh;
    border-radius: 4mm;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 15px 0.5px rgba(39, 61, 105, 0.747);
}

.model_box h1{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.8rem;
    
}

.model_button{
    margin-top: 3vh;
    text-align: center;
}

.model_button a, .model_button button{
    padding: 20px;
    border: 2px solid #000;
    background-color: rgb(2, 53, 148);
    text-decoration: none;
    color: aliceblue;
    font-size: 1.1rem;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;

}


.textarea_sec{
    margin-top: 10px;
    text-align: center;
}

.textarea_sec textarea{
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
